body {
  margin: 0;
  padding: 0;
  background-color: #1e1e21;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  padding-top: 3vh;
}

.header {
  padding-top: 1%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.header li {
  margin: 0 8px;
  list-style: none;
  cursor: pointer;
}

.header li a {
  color: white;
  text-decoration: none;
}

.container {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.container img {
  width: 25vw;
  padding-left: 5%;
  padding-right: 5%;
}

.container .D3D {
  height: 38vh;
  width: 20vw;
  padding-left: 5%;
}

.tekst-fr {
  width: 100%;
  height: 50vh;
  float: right;
  text-align: right;
  font-style: normal;
}

.tekst-fl {
  width: 100%;
  height: 50vh;
  float: left;
  text-align: left;
  font-style: normal;
}

.tekst-fl h1 {
  font-size: 35px;
}

.tekst-fr h1 {
  font-size: 35px;
}

.tekst-fl p {
  float: left;
  width: 50%;
  font-size: 15px;
}

.tekst-fr p {
  float: right;
  width: 50%;
  font-size: 15px;
}

.tekst-fl ul {
  float: left;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.tekst-fr ul {
  float: right;
  text-align: left;
  width: 50%;
  font-size: 15px;
}

.center {
  
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.center img{
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .center {
    width: 80vw;
    display: block;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .center h1 {
    width: 100vw;
  }

  .container {
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .container .D3D {
    height: 55vh !important;
    width: 100vw !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .logo {
    width: 90vw;
  }

  .container img {
    width: 100vw;
    padding-left: 0%;
    padding-right: 0%;
  }

  .tekst-fr {
    width: 100vw;
    float: none !important;
    text-align: center;
    height: fit-content;
    overflow: hidden;
  }
  
  .tekst-fl {
    width: 100vw;
    float: none !important;
    text-align: center;
    height: fit-content;
    overflow: hidden;
  }

  .tekst-fl p {
    float: none;
    width: 100%;
    font-size: 15px;
  }
  
  .tekst-fr p {
    float: none;
    width: 100%;
    font-size: 15px;
  }

  .tekst-fl ul {
    float: none;
    width: 85%;
    font-size: 15px;
    text-align: left;
  }
  
  .tekst-fr ul {
    float: none;
    width: 85%;
    font-size: 15px;
    text-align: left;
  }

  .timeline {
    width: 100%;
    text-align: center;
  }
}
